@font-face{
    font-family: "roboto-black";
    src: url(./Roboto-Black.ttf);
}
@font-face{
    font-family: "roboto-bold";
    src: url(./Roboto-Bold.ttf);
}
@font-face{
    font-family: "roboto-light";
    src: url(./Roboto-Light.ttf);
}
@font-face{
    font-family: "roboto-medium";
    src: url(./Roboto-Medium.ttf);
}
@font-face{
    font-family: "roboto-regular";
    src: url(./Roboto-Regular.ttf);
}
@font-face{
    font-family: "EduSaBeginner-bold";
    src: url(./EduSABeginner-Bold.ttf);
}
@font-face{
    font-family: "EduSABeginner-Medium";
    src: url(./EduSABeginner-Medium.ttf);
}
@font-face{
    font-family: "roboto-regular";
    src: url(./Roboto-Regular.ttf);
}
@font-face{
    font-family: "montserrat-black";
    src: url(./Montserrat-Black.ttf);
}
@font-face{
    font-family: "Montserrat-Bold";
    src: url(./Montserrat-Bold.ttf);
}
@font-face{
    font-family: "Montserrat-Medium";
    src: url(./Montserrat-Medium.ttf);
}
@font-face{
    font-family: "Montserrat-Regular";
    src: url(./Montserrat-Regular.ttf);
}
